<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
消息<br>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>
<p>愚蠢的人总是为昨天悔恨，为明天祈祷，可惜的是少了今天的努力。</p>


</body>
</html>